[2015-09-30 17:15] tgurr opened #2 "Chromium and Hangouts"
I've uninstalled libappindicator and related stuff and installed xembed-sni-proxy (git master), this is how Chromium and the Hangouts plugin show up after logging in to a Plasma session:
![chromium_and_hangouts](https://cloud.githubusercontent.com/assets/414984/10200521/4ff4bb32-67a7-11e5-9e14-15e52c01e819.jpg)
Left and right clicking the icons doesn't work.

After killing and restarting chromium

[2015-09-30 17:24] davidedmundson commented on #2
Thanks

To make sure we're clear; you don't want to be doing that for daily usage. libappindicator directly is obviously the much much better approach.

But I want to fix this as the cause is probably going to affect some other apps that don't have that option.

I've got chromium, how do I make it show those 2 systrays?

[2015-09-30 18:07] tgurr commented on #2
I guess you meant not yet for daily usage? Or is the xembed-sni-proxy never meant to be a replacement? I just did it to test and to create a package for our distribution. I also didn't test what happens when both are installed (perhaps the icons show up twice then?).

It comes up when you install the Hangouts Chrome/Chromium plugin:
https://chrome.google.com/webstore/detail/hangouts/nckgahadagoaaj

[2015-09-30 19:40] davidedmundson commented on #2
Thanks. That's what I needed.

As for the comment. Its not a replacement but a fallback if appindicator can't be used.

Things shouldn't show up twice, ... But client code can do all manner of unpredictable things.

[2015-10-01 07:37] cpfeiffer opened #3 "no image fetched from embedded client :("
Huge thanks for working on this, much appreciated.

I have to use IBM Notes/Sametime, which display a tray icon for new mails and the Sametime online status.
xembed-sni-proxy does reserve some space for the two and interacting with the context menu works great. However it doesn't display an icon for them.

The output from xembed-sni-proxy is "no image fetched from embedded client :("

[2015-10-01 07:38] ghost commented on #3
Same issue here. Using package from aur (archlinux).

[2015-10-01 07:40] davidedmundson commented on #3
can you tell me how to get sametime in Arch so I can reproduce?

[2015-10-01 07:59] ghost commented on #3
Its just a digital clock widget. This is all widgets i got: application dashboard, icons-only taskmanager, folder view, folder view, pager, resource monitor, weather widget, system tray, spacer, digital clock.

[2015-10-01 08:01] davidedmundson commented on #3
Huh? As in how do I get the app which shows the "Sametime online status." from the first post.

[2015-10-01 08:05] ghost commented on #3
Sorry, already forgot that i read about "sametime" in the first post and misinterpreted it. My bad, sorry. Though this problem occurs for me for remmina/hexchat/pidgin too.

[2015-10-01 08:12] davidedmundson commented on #3
Can I have the output of

qdbus org.kde.KWin /KWin supportInformation

[2015-10-01 08:14] ghost commented on #3
[code]

[2015-10-01 09:03] cpfeiffer commented on #3
Here's my output: https://paste.kde.org/ppaisixky

[2015-10-01 15:50] davidedmundson commented on #3
Are you guys able to run patches?

can you change
    QImage image(xcb_get_image_data(reply.data()), s_embedSize, s_embedSize, s_embedSize*4, QImage::Format_ARGB32);

to

[code]

on a machine (kubuntu in virtualbox) I'm getting all zeroes in the alpha channel.

[2015-10-01 16:06] paulolieuthier commented on #3
@davidedmundson I use Thunderbird with the Firetray extension. Left click and context menu are perfect. However, I get the same sad message ("no image fetched from embedded client :(") and a white square as the icon. Changing `Format_ARGB32` to `Format_RGB32` made no difference.

It probably makes no difference, but I had to change `s_embedSize`'s type to `uint32_t` and also two other unrelated ca

[2015-10-01 16:32] ghost commented on #3
@davidedmundson with said change i can see hexchat and remmina icons inside a white square (result of no transparency). Pidgin icon still invisible though. Interesting is that without your change i cant see icons and console only says "docking" multiple times. But with your change i start seeing "no image fetched from embedded client :(" too.

[2015-10-01 16:47] paulolieuthier commented on #3
@davidedmundson I know you're only using XCB, but just for a proof of concept, apply the following patch. It pulls Xlib. With it I got perfect icons from Thunderbird, XChat and Pidgin. Got it from [LXQt's system tray plugin](https://github.com/lxde/lxqt-panel/blob/master/plugin-tray/trayicon.cpp#L304).

[code]

[2015-10-01 16:57] davidedmundson commented on #3
Thanks I'd just finished a port from xcb_get_image to xcb_image_get which is basically the same as above.

branch:
image_get

Maybe that's a route to go down?

[2015-10-01 17:01] davidedmundson commented on #3
...and it made no difference in my Kubuntu virtualbox where I can reproduce the problem

[2015-10-01 17:08] paulolieuthier commented on #3
I get a segfault with your image_get branch running pidgin.

[2015-10-01 17:16] ghost commented on #3
@paulolieuthier i tried your patch but it did not work. Then i tried this:

[code]

What i did here is taking top-left pixel and treating it as supposedly transparent pixel. Then i looped each pixel and if its not same as supposedly transparent top-left pixel - i set alpha to 0xFF to make it non-transparent. Result:
![asdasd](https://cloud.githubusercontent.com/assets/7602544/10227910/d056d4c8-687

[2015-10-01 17:23] davidedmundson commented on #3
@paulolieuthier can you retry, I was rushing a bit to get it pushed online whilst you did your patch

[2015-10-01 17:32] paulolieuthier commented on #3
@davidedmundson just tested it and it's working well. I run thunderbird, xchat, pidgin and nm-applet. Specially pidgin, multiple times. Two times the icon got a black background, and one time I saw a segfault. But I couldn't reproduce it again. nm-applet's left click and context menu don't work, but that's another issue.

Just for you to know, I'm running LXQt on Arch.

[2015-10-01 17:43] davidedmundson commented on #3
OK, so I'll merge that in.

I don't think that closes everything, I think we have 3 bugs going on, and this is just 1 down

[2015-10-01 18:09] kensington opened #4 "Hard to close context menu"
After opening the context menu by right-clicking, I can only close it without selecting an option by left-clicking on the icon again. If I try clicking elsewhere or shifting focus, the context menu remains open indefinitely.

Testing using keepass.

[2015-10-01 18:12] davidedmundson commented on #4
for context menus we just send a right click to the app...that's all we do.
xchat and spotify seem fine.

I don't suppose you could test in another systray app to see if the behaviour is different?

[2015-10-01 18:21] kensington commented on #4
I tested with hexchat and the context menu disappeared properly as expected (although the icon itself rendered with a black background).

[2015-10-01 19:38] cpfeiffer commented on #3
Status report with current master (0d6ed0396e04ae2629a1f115d001a73e5f52d881) and IBM Notes:
- the error message "no image fetched from embedded client" is gone :-)
- the tray icon is still invisible

Thanks and keep up the good work!

[2015-10-01 20:02] cpfeiffer commented on #3
Ohhh! There is an icon! Just one, but still :-) There should be one tray icon for Notes when there is new mail and one for sametime (all the time). The latter is missing:

![image](https://cloud.githubusercontent.com/assets/1457896/10232292/1ea8c780-6888-11e5-997e-2a3b1e4e5087.png)

[2015-10-02 12:02] tgurr commented on #2
Short update, with the latest changes the icons began to show up, they look a bit tattered
![hangout3](https://cloud.githubusercontent.com/assets/414984/10246042/f1d31b26-690d-11e5-9a1e-fda13a72eabe.jpg)
and not as beautiful as with libappindicator and the background sometimes switches to black:
![hangout4](https://cloud.githubusercontent.com/assets/414984/10246045/f6b614a4-690d-11e5-85f7-159c2864

[2015-10-02 19:57] elgui02 opened #5 "kde plasma 5.12"
I have a 5.12 plasma version, i doesn't found compile instructions , on the source i execute:
1. cmake .
2. make
3. make install

Do you have a instructions install?

[2015-10-03 05:21] FadeMind commented on #5
What Linux Distro You have?

[2015-10-03 12:05] vanoudt opened #6 "Dropbox icon looks... interesting"
Very useful extension for apps that don't work properly with SNI! Thank you. :-) I've got a COPR repo of this already since it's such a lot of use!

I'm having an issue with Dropbox. [Well, the first is that it's a Qt app that doesn't work with SNI... but I digress! :-)] The icon appears and can be interacted with, but is tiny and... strange! Here's a screenshot!
![dropboxisodd](https://cloud.gith

[2015-10-03 12:16] paulolieuthier commented on #6
@vanoudt Dropbox doesn't work because it is bundled with its own compiled version of the Qt libraries. It you delete `$installdir/libQt5*`, `$installdir/qt.conf` and `$installdir/plugins/platforms/libqxcb.so`, Dropbox will become an SNI.

[2015-10-03 12:47] vanoudt commented on #6
Yep - I've been doing that for ages (on Fedora 22)! The problem is that now
that I'm on Fedora 23, with Qt 5.5.0, it doesn't work. It just says:

I've contacted Dropbox support about this - nothing much from their side
yet. At the moment, for me, the xembed stuff is all that works...

On Sat, Oct 3, 2015 at 8:16 PM, Paulo Lieuthier notifications@github.com
wrote:

[2015-10-03 12:50] davidedmundson commented on #6
You need your xcb plugin to match the Qt version that DropBox uses.

I've heard new dropbox uses a newer Qt so that gives us the automatic SNI support.

However, as for this: It's something I need to fix in here anyway, if it affects dropbox, it's doubtlessly going to affect $otherStupidApp.

[2015-10-03 12:57] vanoudt commented on #6
:-) That makes sense. (From what I can tell, they're on a 5.4ish version!)
If there's anything I can do to help/test/whatever - just say!

[2015-10-03 13:15] vanoudt commented on #6
Looks like it might be picking up some memory somewhere. Relaunched it and got this. Note the very small icon, and also the 3 copies of a mouse cursor!
![dropbox-xembed](https://cloud.githubusercontent.com/assets/1248707/10263104/cd49cb18-6a13-11e5-8706-92bf1daf0d29.jpg)

[2015-10-03 15:35] minlexx commented on #3
I decided not to start a new issue, because all are about the same.
For me, also as in issue #6 , xembed-sni-proxy does not display some icons.

I also tried to write a XEMBED<->DBUS SNI proxy, but not like you, I didn't use any QtDbus / KF5Notifications, just raw X11 and libdbus, also I started from forking wmsystemtray (all my in https://github.com/minlexx/wmsystemtray-plasma5 )

What I've notic

[2015-10-03 16:41] davidedmundson commented on #3
Oh wow. Maybe we can join forces?

I'm seeing the same thing, I can force alpha to always be set properly, but then I obviously get the background. Weirdly my windows I'm embedding claim to have the same depth but clearly don't.

Mine does that using the XDamage extension to know when a repaint happened, and my pixmap serialisation code is taken directly from KNotification (advantage of using Qt c

[2015-10-04 00:33] minlexx commented on #3
I'm not sure how I can help, but if I find something interesting, I'll tell you :)

I didn't for now, because I started exploring this not a long time ago, I haven't gone that far, and stuck with icons problem. One problem at a time :)

To check that my pixmap serialization code works fine, I tried to read some PNG image using libpng and send its contents over DBus, and it worked fine, so now I'm

[2015-10-07 17:03] tgurr commented on #2
With the latest changes everything seems to work fine so far, the background doesn't turn to black anymore, they're scaled properly and left and right clicking them (Chromium/Hangouts) works. The only thing left is that the icons look a bit tattered, but that's not what my issue was about and it doesn't affect functionality.

[2015-10-07 17:03] #2 closed, assigned to nobody

[2015-10-08 13:04] ghost commented on #5
Same Problem here. I'm running Debian Testing.

[2015-10-08 13:06] paulolieuthier commented on #5
Are you guys running it? AFAIK running `xembedsniproxy` will start the daemon and new xembed icons will appear in the status notifier.

[2015-10-08 17:02] elgui02 commented on #5
When i run xembedsniproxy and works but without icon
![image](https://cloud.githubusercontent.com/assets/355838/10373925/9324ed44-6dad-11e5-9a87-23b5dffc6968.png)

[2015-10-09 01:28] vanoudt commented on #6
With the latest revision, (77d78c3daba19f039eec0a3874a87cb006c235ef), the icon is now the right size, but the background is still corrupted. (Sometimes black, sometimes not, sometimes grabbing other bits of screen real-estate from memory)

[2015-10-10 14:06] indywidualny commented on #3
Same here - no icons, just empty, fully functioning space. Arch Linux with Plasma 5 :(

![2015-10-10-160447_1920x1080_scrot](https://cloud.githubusercontent.com/assets/9354672/10411502/c66a2f2c-6f68-11e5-912c-b827a35974aa.png)

<b>uname -a</b>
<code>Linux indywidualni 4.2.2-1-ARCH #1 SMP PREEMPT Tue Sep 29 22:21:33 CEST 2015 x86_64 GNU/Linux</code>

<b>qdbus org.kde.KWin /KWin supportInformation</

[2015-10-10 14:38] FadeMind commented on #3
@indywidualny Usuń appindicator ( i jego zależności). Mam najnowszą wersję xembed-sni-proxy-git oraz najnowszą stockową wersję dropboxa. Ikona jest widoczna.:
`qdbus org.kde.KWin /KWin supportInformation` results: https://pastebin.com/5VUCFDJ7
![a](http://i.imgur.com/fdYmScd.png)
archlinux x64 testing branch.
Shutter także używa xembedsniproxy do wyświetlania ikony.

ENG: Just remove all appindica

[2015-10-10 18:21] indywidualny commented on #3
It's even worse. I lost Chromium (and its extensions) icons as well as any icons I had before thanks to those compatibility packages.

Now all the icons I'm using should be displayed thanks to xembed-sni-proxy but I can see only blank spaces - like before :(

I tried branch image_get - still no icons.

[2015-10-10 18:32] davidedmundson commented on #3
To be clear, you shouldn't remove libappindicator.

libappindicator uses SNI directlywhich is 100000% the correct way to go for doing system trays

This project exists solely for the cases where one can't use SNIs, like obscure java/wine programs.

(and yes, I know libappindicator has some silly bugs, but they need fixing not avoiding)

[2015-10-10 19:06] indywidualny commented on #3
Well, libappindicator was slowing my login time. Startup was 10 times slower than now so it's buggy for sure.

The only hope is in this project. I'm looking forward to the next version with working icons. Good luck :)

For now I'm using Trayer. It's a prefect workaround although KDE Tray is useless for me now. Trayer creates another tray for all the icons.

[2015-10-10 19:08] FadeMind commented on #3
@davidedmundson one click launch from icon tray not working on shutter app when appindicator libs are installed. When xembedsniproxy only is installed one click launching for shutter working fine.

dos1 made patched libappindicator-activate for this. But with lastest KDE libs (KF5 and KDE Plasma) one click not working anymore.

https://aur4.archlinux.org/pkgbase/libappindicator-activate/

One more

[2015-10-16 08:45] rombert opened #8 "Pidgin icon has black background"
I have pidgin installed and also the the pidgin-indicator extension which provides an appindicator icon for piding. Now that I've instealld xembed-sni-proxy, both icons show up. I noticed though that the xembed-sni-proxy icon looks slightly different and also has a blackground.

![pidgin-icons-differences](https://cloud.githubusercontent.com/assets/21237/10537566/502bd90e-73fb-11e5-8edf-afee851cd7

[2015-10-16 09:02] FadeMind commented on #8
@rombert Dropbox have this issue too.

[2015-10-16 09:07] rombert commented on #8
@FadeMind , yup, that's in my screenshot as well, but I though the Pidgin one was more telling. Dropbox is also undersized.

And to be complete, I'm running xembed-sni-proxy-0.0.1git~20151001~0d6ed03-1.1.x86_64 on openSUSE Tumbleweed.

[2015-10-17 11:19] lgbaldoni opened #9 "Firetray still not working"
As per subject, on Mozilla Thunderbird using the firetray extension, the menu is present but the icon is not:/

[2015-10-17 16:08] sherpya commented on #8
Dropbox icon background is ok, but it looks like upscaled
![indicator](https://cloud.githubusercontent.com/assets/120074/10559870/1d204450-74fa-11e5-920f-2e8b4808abf2.png)

[2015-10-17 20:53] diederikdehaas commented on #3
Just [got word](https://lists.debian.org/debian-kde/2015/10/msg00047.html) that a package for your program was uploaded to the [Debian archives](https://packages.debian.org/sid/plasma-systray-legacy) (version 0~git20151005-77d78c3-2), thus I installed it and here's what I found:

With deluge-gtk (python-gtk app) I didn't see an icon, but otherwise it was fully functional :+1: whereas there was no

[2015-10-18 04:26] cuihaoleo commented on #8
Sometimes Hexchat icon's background turns black, too.

Latest Plasma 5.4.2 on Arch Linux, and latest git code.

[2015-10-18 10:45] indywidualny commented on #3
I just updated. Still no icons. Good job anyway, it's good to see the project is under constant development.

[2015-10-20 15:07] cuihaoleo opened #10 "segfault when Plasma session restores"
Arch Linux x86_64, Plasma 5.4.2, latest git code.

When Plasma restores last session (with xembedsniproxy running), xembedsniproxy will crash.

dmesg says:

[code]

[2015-10-22 11:12] FadeMind opened #12 "5157e6c commit = no display dropbox icon in tray anymore"
Lastest git snapshot 5157e6c commit = no display dropbox icon in tray anymore.

[2015-10-22 11:46] davidedmundson commented on #12
It definitely wasn't that commit that caused it.
Any chance you can find out which one it was?

[2015-10-22 12:12] FadeMind commented on #12
@davidedmundson ok. I will find out. I know that 5157e6c is not a source of issue.

[2015-10-22 12:42] FadeMind commented on #12
@davidedmundson

e8ada875c2b609ba077576fc2e2865d2ce9e9cce failed to build at all: https://pastebin.com/raw.php?i=2p8m8e4W

Commit f989182f0e356ec509e27a7c9e5bd9c42a539b2c build FINE and dropbox icon visible.

Commits ABOVE f989182f0e356ec509e27a7c9e5bd9c42a539b2c have issue (where e8ada875c2b609ba077576fc2e2865d2ce9e9cce  unable to build anyway). Newest:
7a8ced4dcc948847cfdc5a01f55317da2b4f9547
2c

[2015-10-25 09:37] Crazy-Hopper opened #13 "icon sizing"
Hi, I get better results here for skype and psi icons when I set s_embedSize=32.
With 48 the icons are too tiny.

[2015-10-25 09:39] Crazy-Hopper opened #14 "mouse middle click"
Hi, could you please take a look at whether it is possible to proxy the mouse middle clicks to SNIs?

[2015-10-25 09:46] davidedmundson commented on #14
ooh, I can.

SNI's emit "SecondaryActivate"
should be simple enough.

Want to try and make a patch? Just copy and paste Activate in sniproxy, then make it send mouse button 2.

[2015-10-25 09:48] Crazy-Hopper opened #15 "No icon from wine apps"
Hi, I use TeamViewer in linux which is run through wine.
In case when there is no selection manager, wine creates its own window titled "Wine System Tray" with the icon inside.
Using "native" xembed selection manager like wmsystemtray results in correct icon for TeamViewer.
But with xembed-sni-proxy there is no icon created at all. Even though console output states it detects the new window, embed

[2015-10-25 09:58] Crazy-Hopper commented on #14
Huh! You did it already, just with button 1 instead of button 2 :-)

[2015-10-25 10:08] Crazy-Hopper opened #16 "SNI tooltip icon"
When mouse is hovered upon the SNI, the tooltip is displayed with the startup icon instead of the current icon.

[2015-10-25 10:26] davidedmundson commented on #14
oh, thanks.

Pushed

[2015-10-25 10:26] #14 closed, assigned to nobody

[2015-10-26 09:21] tehnick commented on #15
@Crazy-Hopper Try to build 77d78c3 or f989182.

I can reproduce your bug with in xembed-sni-proxy/0~git20151022-5157e6c-1 from Debian experimental. But with xembed-sni-proxy/0~git20151005-77d78c3-2 from Debian testing TeamViewer works fine: there is fully functional icon it SNI (and it is not even transparent but with correct icon).

[2015-10-26 11:44] Crazy-Hopper commented on #15
Thank you, Boris!
Indeed f989182 was the last working commit. The next one (e8ada87) changed the return value of SNIProxy::Id(). Reverting it back to how it was and applying to the master HEAD brings the TeamViewer icon back in. Well, with the glitch of an empty icon right until the place receives the first mouse click, then the icon is drawn correctly.

[2015-10-26 11:54] davidedmundson commented on #15
Interesting. I might change it back then

Can you run "xprop" and click on the main teamviewer window for me?

[2015-10-26 11:55] Crazy-Hopper commented on #15
You probably meant the "Wine System Tray" window?
Then this is it:

[code]

[2015-10-26 12:03] DominicWatson opened #17 "Lacking documentation on how to setup"
Please provide build instructions and how you expect this to be used in any working system. I'm stuck atm getting `cmake` to run without errors (dependencies) and I only figured I needed to run that from reading another open issue (#5).

A couple of lines in the README should do it :)

_Update_
FYI. I managed to resolve dependencies and get `cmake`, `make` and `make install` to run in my Kubuntu s

[2015-10-26 12:03] davidedmundson commented on #15
I think the property I want will inherit from the parent window (teamviewer)

if you can get the wine tray icon that's better, but it's harder to do.

[2015-10-26 12:04] davidedmundson commented on #17
I intend to merge into plasma-workspace for Plasma 5.5, which has it's own setup readme.

Not really worth it for 1.5 months, sorry.

[2015-10-26 12:04] #17 closed, assigned to nobody

[2015-10-26 12:08] Crazy-Hopper commented on #15
Here is the xprop output for the main TeamViewer window:

[code]

[2015-10-26 12:11] DominicWatson commented on #17
A couple of lines in a README will take minutes and save people like me much more time than that. I'd urge you to reconsider.

[2015-10-26 12:20] Crazy-Hopper commented on #13
Actually when I unconditionally resize the window to 32*32 I also avoid icon upscaling by KDE resulting in, well, tiny icons but w/o any bluriness brought by upscaling.

[2015-10-26 12:32] Crazy-Hopper commented on #13
![kde_tray](https://cloud.githubusercontent.com/assets/471786/10728814/cf7aab50-7bed-11e5-9aae-6b0eccb84a6a.png)
The first three are native SNIs.
The fourth (TeamViewer) is 32*32 with avoided upscaling.
5th and 6th are chrome and dropbox are incorrectly upscaled by libappindicator/KDE.
7th and 8th are psi and skype, correctly displayed by xembed-sni-proxy with s_embedSize set to 32.
The rest are n

[2015-10-26 12:33] tehnick commented on #17
@davidedmundson
I suppose you have created this git repo for testing purposes, so it is quite strange that you pushing away people from testing of the program. 1.5 month is a quite long period of time and many bugs could be found during it.

[2015-10-26 12:34] tehnick commented on #17
@DominicWatson
Why you have not added a list of build dependencies?

[2015-10-26 12:39] tehnick commented on #17
When I have been preparing packages for Debian and Ubuntu, I have checked build dependencies of the program by reading CMakeLists.txt and by testing build in a clean environment (using cowbuilder). If anyone will have to do the same job in other distros, it is just wasting of their time...

[2015-10-26 12:41] tehnick commented on #17
BTW my list list of build dependencies is currently looks like this:
http://anonscm.debian.org/cgit/pkg-kde/kde-extras/xembed-sni-proxy.git/tree/debian/control#n6

[2015-10-26 12:47] tehnick commented on #17
@DominicWatson
BTW there is a PPA with xembed-sni-proxy for usual Ubuntu users (who cannot build program themself):
https://launchpad.net/~tehnick/+archive/ubuntu/xembed-sni-proxy

[2015-10-26 12:54] davidedmundson commented on #17
RE: your control file.
GNOME Shell doesn't support SNIs.

[2015-10-26 13:06] tehnick commented on #17
@davidedmundson
Do you mean that AppIndicator extension is not installed by default?

[2015-10-26 13:08] davidedmundson commented on #17
I knew their shell didn't, we've had some "discussions" with their maintainers.  Didn't think to look at extensions. That's cool.

[2015-10-26 13:33] davidedmundson commented on #13
That picture is with your patch?

What do you mean by uncondtional resizing?

What did it look like before?

[2015-10-26 13:50] Crazy-Hopper commented on #13
1) Yes.
2) No condition checking ( `if (clientGeom->width < 12 || clientGeom->width > s_embedSize ||
        clientGeom->height < 12 || clientGeom->height > s_embedSize)`), just the code in braces. I'll prepare a patch.
3) Without any changes to the master HEAD but the one that lets TeamViewer to appear, i get the following result: TeamViewer icon upscaled and blurred (just like appindicator ones)

[2015-10-26 14:02] Crazy-Hopper commented on #13
Actually, the patch is that simple. Sorry, couldn't attach the file properly.

[code]

[2015-10-26 14:02] tehnick commented on #13
@Crazy-Hopper Why do not you use sni-qt for Qt4-based applications (for example Psi and Skype)? Just wondering.

[2015-10-26 14:06] Crazy-Hopper commented on #13
@tehnick That's because right now i'm stuck in debian gcc5 pre-transition state where there is no patched qt4 and, most importantly, sni-qt isn't the answer for anything but qt4 apps.

[2015-10-26 14:06] tehnick commented on #13
@Crazy-Hopper Have you tested Chromium after applying of your patch to xembed-sni-proxy?

[2015-10-26 14:09] DominicWatson commented on #17
Nice one. @tehnick I didn't include dependencies list because I'm a complete n00b at building things with `cmake` / `make` so wasn't sure of the best way to document this (presuming different distros will have different packages to fulfil these dependencies). Thanks for the heads up re the PPA.

[2015-10-26 14:15] Crazy-Hopper commented on #13
@tehnick Both google-chrome and chromium use libappindicator to create SNI. How do I test those?

[2015-10-26 14:24] tehnick commented on #13
Hmm, patched Qt4 packages are in Debian unstable since Aug 04 and Debian testing since Sep 06.
sni-qt package is also available.

Yes. But it is more preferable for Qt4-based applications than xembed-sni-proxy project.
@davidedmundson may confirm this.

[2015-10-26 14:30] tehnick commented on #13
@Crazy-Hopper At least for chromium this is not true:
`$ ldd /usr/lib/chromium/chromium | grep indicator | wc -l`
 `0`
More over as far as I know it does not support libappindicator yet.

I have asked about Chromium just because it is mentioned in the workaround in the code which you have patched.

[2015-10-26 14:35] Crazy-Hopper commented on #13
@tehnick dl_open() ? :-)

Ah-huh! Removed appindicator and now icons are drawn by xembed-sni-proxy.
![kde_tray2](https://cloud.githubusercontent.com/assets/471786/10731633/04d920f4-7bff-11e5-865d-60693d4b83da.png)
1-3 SNIs.
4-5 Dropbox and TeamViewer through patched proxy.
6 Google Chrome through libappindicator
7-10 Chromium Hangouts, Chromium, Psi, Skype through patched proxy.
rest are SNIs.

[2015-10-26 14:36] Crazy-Hopper commented on #13
So everything is OK but the Dropbox. But I guess it's Dropbox's fault. (#25)

[2015-10-26 14:46] Crazy-Hopper commented on #13
When I reinstall libappindicator the Chromium and Hangout icons get upscaled, but that looks not as bad as upscaled Dropbox icon is when it's upscaled by libappindicator (as in the first picture).

[2015-10-26 17:38] FadeMind opened #19 "Failed build commit a470995"
Cannot build commit a4709952bd4e459c8ccf4f2ce9c313aa8316b6e8

Log: https://pastebin.com/raw.php?i=n8pJC0jG

Lastest lines:

[code]

[2015-10-26 17:44] stativ opened #20 "Many xembedsniproxy processes running"
I'm not sure whether this is xembed-sni-proxy problem, but I noticed that with every login to plasma, new xembedsniproxy process is spawned.

Eg. this is how the process list looks like on my system right now:

[code]

[2015-10-26 17:48] davidedmundson commented on #20
Two bugs.

One: we're being respawned by teh session manager as "this app was running last session". We need to deregister from that

Two: We should close if another systray is running

[2015-10-26 21:21] FadeMind commented on #19
FIXED in 392f323f7e15352638ba4090eb6eee3030652220

[2015-10-26 21:21] #19 closed, assigned to nobody

[2015-10-26 21:21] FadeMind commented on #12
FIXED in 392f323f7e15352638ba4090eb6eee3030652220

[2015-10-26 21:21] #12 closed, assigned to nobody

[2015-10-26 21:36] tehnick commented on #15
Fixed in 406f257. Thanks for a bug report.

[2015-10-26 21:42] tehnick commented on #5
This bug report might be closed now.

[2015-10-26 21:58] Crazy-Hopper commented on #15
Thank you, closing then.

[2015-10-26 21:58] #15 closed, assigned to nobody

[2015-10-26 22:01] Crazy-Hopper commented on #16
Actually, this issue is more about the architectural design... The actual app doesn't receive hover events because it's not proxied back from created SNI to the hidden container. I'm not sure it's even possible.

[2015-10-26 22:09] davidedmundson commented on #16
It wouldn't be possible without effectively adding special XembedSNIProxy aware-code inside plasma and friends. I don't want to do that, but it's not completely impossible.

What apps are affected, and how bad is it?

[2015-10-26 22:12] #5 closed, assigned to nobody

[2015-10-26 22:18] Crazy-Hopper commented on #16
All of the apps are affected I think. Right now you can't get the native app tooltip. For example, try running skype with and without VISUAL_DEBUG defined.
Without it you get either no tooltip or an SNI's one. But when you hover over the container window you get native app tooltip.
"How bad" is more of a philosophical question... I can live with that actually because in most cases tooltip has eith

[2015-10-27 01:28] tehnick commented on #3
@minlexx You may try something similar to my fix from #22 for filtering transparent xembed icons.

[2015-10-27 01:47] angrylinuxuser commented on #15
sorry im running todays git and still no icon from battle.net

here is xprop if its gona help

[code]

[2015-10-27 05:58] tehnick commented on #15
@angrylinuxuser Do you mean there is no icon at all or there is a transparent icon?

[2015-10-27 06:00] angrylinuxuser commented on #15
well i think it could be transparent. Is it a other bug? i can click on empty spot and it works like an icon was there.

[2015-10-27 06:35] angrylinuxuser commented on #15
Stupid question i guess:

Should window id change if i kill and run xembedsniproxy over and over while running battle.net.exe?
Log says something like that:

[code]

then kill and restart xembedsniproxy

[code]

and again

[code]

[2015-10-27 06:39] tehnick commented on #15
Yes, this is completely another bug.

[2015-10-27 15:30] davidedmundson commented on #20
Session manager part is fixed

[2015-10-27 15:48] FadeMind opened #24 "Failed build commit 3c39ea8"
Error: **main.cpp:49:11: error: invalid use of incomplete type 'class QSessionManager'**

Commit 3c39ea8a8e398deda82d0699c2b118c4a36d0d80

Build log: https://pastebin.com/raw.php?i=emm88ZcQ

Lastest lines:

[code]

[2015-10-27 16:17] angrylinuxuser commented on #24
missing #include <QSessionManager> ?

[2015-10-27 16:46] davidedmundson commented on #24
_sigh_ Fixed.

I keep doing this at the moment, as the code is being merged into plasma-workspace and I have to keep code in two places in sync.

[2015-10-27 16:46] #24 closed, assigned to nobody

[2015-10-27 17:35] Crazy-Hopper opened #25 "Dropbox peculiarity"
Hi, throughout all the possible xembed clients I tested, only the Dropbox icon gets garbled background copied from where the embedded window got mapped. All other windows don't exhibit such behaviour. Any idea why Dropbox would be in any way different?

[2015-10-27 17:38] Crazy-Hopper commented on #13
Is there anything wrong with this approach?

[2015-10-27 21:52] indywidualny commented on #3
New version gives me this output. I don't know whether it helps.

[code]

[2015-10-27 21:55] Crazy-Hopper commented on #3
@indywidualny Could you please try this patch 79a1179 ?

[2015-10-27 22:05] indywidualny commented on #3
Unfortunately still nothing :(

[2015-10-27 22:23] tehnick commented on #3
@Crazy-Hopper
With your patch icons of all Wine applications are shown immediately at startup.
And finally I do not see transparent icons at all. Nor in Wine apps, nor in Gtk+ based apps,
nor in Java-based apps...

[2015-10-27 22:27] Crazy-Hopper commented on #3
Glad to hear, thank you. But there is a problem with this patch though.
Now that conatiner is on-screen, you get black flickering when container window is stacked up and down in non-composited environments.

[2015-10-27 22:30] Crazy-Hopper commented on #3
Qt4 had QX11Info::isCompositingManagerRunning(). Qt5 doesn't. :-(
If we could somehow make sure that compositing is running then there would be no need at all for stacking container window up and down. We'd just leave it there. (Well, have to be cautious about icons being moved around the screen).

[2015-10-28 01:32] vanoudt commented on #25
Well, the first thing to do is to bug them to use a version of Qt that supports SNI (they say that they don't)... Not that that helps fix their weird xembed. Got the same symptoms here... see #6

[2015-10-28 01:37] Crazy-Hopper commented on #25
I see no Qt here at all.

On the other hand, the whole purpose of this project is to make apps that aren't ready for SNI not to be lost.

[2015-10-28 02:01] Crazy-Hopper commented on #25
Closing this as duplicate of #6.

[2015-10-28 02:01] #25 closed, assigned to nobody

[2015-10-28 08:22] minlexx commented on #3
There was a code to check that compositing window manager is running, in recordmydesktop app (that records video from desktop, so it needs to know)

example code: [rmd_wm_is_compositing.c](https://github.com/minlexx/recordmydesktop-pulse/blob/master/src/rmd_wm_is_compositing.c), [rmd_wm_check.c](https://github.com/minlexx/recordmydesktop-pulse/blob/master/src/rmd_wm_check.c)

During capture, it ou

[2015-10-28 09:43] tehnick commented on #25
Personally I do not use Dropbox. But I have read that current versions of Dropbox use Qt5 < 5.4.2 and in this version of Qt5 systray icons were not fixed yet.

[2015-10-28 09:47] tehnick commented on #25
This is because unlike Skype and some other proprietary software Dropbox do not use system libraries but uses libraries shipped in the package. Try something like `dpkg -L dropbox` if you use Debian-based system to see the list of files.

[2015-10-28 09:49] tehnick commented on #25
Indeed. Just wait until Dropbox developers will update their packages. Systray-related bugs are well known to them.

[2015-10-28 09:55] tehnick commented on #6
@vanoudt

You may download Qt 5.4.2 libraries from official Qt website and replace libraries from Dropbox package by them.

[2015-10-28 10:00] tehnick commented on #6
@davidedmundson

I think you are mistaken here. Have you heard about any other proprietary program which uses Qt5 libraries in the same way as Dropbox?

[2015-10-28 10:04] tehnick commented on #6
@vanoudt

I failed to see how such bugs in Qt5 xembed systray may be fixed in xembed-sni-proxy.
(The size of icon completely is another issue.)

[2015-10-28 10:26] minlexx commented on #6
Teamspeak 3 client, for example (no systray icon by default). But if you remove libQt5*.so shipped with it or symlink them to system ones, it will suddenly show systray icon ;) sni-qt working.

[2015-10-28 13:57] davidedmundson commented on #20
Second part is fixed.

QCoreApplication::exit() no-ops if the event loop isn't running

[2015-10-28 13:57] #20 closed, assigned to nobody

[2015-10-28 14:02] Crazy-Hopper commented on #6
@tehnick

Note has to be taken that wmsystemtray (pure xembed) works correctly with dropbox. So does libappindicator.

[2015-10-28 17:00] justusranvier opened #28 "Tray icons are invisible"
Using the most recent commit, when I launch xembedsniproxy empty space appears in my system tray where the icons should go, however the icons are not actually displayed.

I know they are present, because if I click randomly in the empty space I'll eventually find where they are and the context menus associated with those icons will appear.

Console output from xembedsniproxy:

kde.xembedsniproxy:

[2015-10-28 17:47] Crazy-Hopper commented on #28
Could you please double-check that you're running the git master/HEAD indeed?

[2015-10-28 17:48] Crazy-Hopper commented on #28
And if you do, could you also check if code from my fork works any better for you? (Doubt that, but who knows.)

[2015-10-28 17:58] justusranvier commented on #28
I'm installing via this ebuild (Gentoo): https://gitweb.gentoo.org/proj/kde.git/tree/dev-libs/xembed-sni-proxy/xembed-sni-proxy-9999.ebuild

It is building the master branch and I reinstalled it immediately before creating this issue.

I'll try changing the URI to your tree to see if that changes anything.

[2015-10-28 18:04] justusranvier commented on #28
@Crazy-Hopper I get the same behavior with your fork.

[2015-10-28 18:07] Crazy-Hopper commented on #28
And you do see that repository is cloned each time you rebuild?

[2015-10-28 18:08] Crazy-Hopper commented on #28
Could you paste some initial console output from the fresh run?

[2015-10-28 18:17] justusranvier commented on #28
I'm sure it's building the right repository:

<pre>
# ebuild /usr/local/portage/dev-libs/xembed-sni-proxy/xembed-sni-proxy-9999.ebuild merge
 * checking ebuild checksums ;-) ...

[2015-10-28 18:20] justusranvier commented on #28
Here's the output when I start it:

<pre>kde.xembedsniproxy: starting
kde.xembedsniproxy: Manager selection claimed
kde.xembedsniproxy: trying to dock window 6291790
kde.xembedsniproxy: adding damage watch for 6291790
kde.xembedsniproxy: Resizing window 6291790 "Xpra" from w*h 48 48
kde.xembedsniproxy: trying to dock window 6291793
kde.xembedsniproxy: adding damage watch for 6291793
kde.xembedsnip

[2015-10-28 18:42] Crazy-Hopper commented on #28
It seems that all your icons are from Xpra. I've never used that and my first try didn't go well. ;-)

[2015-10-28 18:51] justusranvier commented on #28
There are actually two types of icons involved: the icon for the xpra client itself, and icons for processes running on the xpra server which are being forwarded to the client.

[2015-10-29 04:27] totaam commented on #28
Xpra tray icons should use the gtk.StatusIcon widget on X11 (at least until version 0.16 where we're trying to find ways to overcome the "challenges" of new desktop environments breaking everything).

You can debug all tray related code by running the client (or server if you feel so inclined) with the flag: "-d tray".

If you can't get xpra running, see here:
http://xpra.org/trac/wiki/Usage
But r

[2015-10-30 13:54] davidedmundson commented on #6
I know why Dropbox looks "interesting".

Qt tries to be clever and take a snapshot of the container window before it paints on top of it. It's to give the illusion of alpha in older rubbish systrays.

For me generally I "solve" this alpha problem by only copying the embedded window, not the full container - but Qt trying to be clever ends up hurting itself.

Will try turning my container into a QR

[2015-10-30 13:56] Crazy-Hopper commented on #6
That behaviour was probably introduced in Qt5, because neither Psi, nor Skype exhibit this.

[2015-10-30 14:34] davidedmundson commented on #6
it seems it's been here for a while, but it depends on how the sys tray widget is created

Dropbox must be doing something weird.

[2015-10-30 14:44] hurradiegams commented on #28
I have no tray icons either.
Same behaviour as justusranvier, just black spaces where icons should be, the black spaces are clickable and are working as supposed by the related programs (KeePass and Pidgin in my case).

I'm on Arch LInux, fully updated, including https://aur4.archlinux.org/packages/xembed-sni-proxy-git/ today.

Console output:

[code]

and so on, `mostly kde.xembedsniproxy: Skip t

[2015-10-30 15:39] davidedmundson commented on #6
Bah, made that change in a branch. Didn't do anything.
Wish I could see Dropbox code, could solve this in minutes.

[2015-10-31 05:38] vanoudt commented on #6
:-) Then again, if we could see the dropbox code we'd just enable the SNI support!

[2015-10-31 14:53] stativ commented on #10
Isn't this fixed by 3c39ea8? Plasma should no longer restore xembedsniproxy by itself.

[2015-11-01 05:03] cuihaoleo commented on #10
Nope.
I'm using latest 11e8648 commit, it still crash at startup.

[2015-11-01 06:01] Scimmia22 commented on #8
Claws Mail as well

[2015-11-01 21:46] Crazy-Hopper commented on #8
Tried running Claws Mail with my fork. Looks OK. Couldn't test Pidgin though.

[2015-11-02 19:24] tgharib commented on #28
FWIW, I have no tray icons too. I'm running Manjaro and I'm using the `xembed-sni-proxy-git` package from the AUR.

[2015-11-17 03:49] cjacker commented on #10
Please refer to

https://bugs.kde.org/show_bug.cgi?id=355463

[2015-12-11 22:21] ceribik commented on #28
Same issue here on Arch Linux.

Debug information
https://paste.kde.org/pq5mx5rda/h2qaji

[2015-12-28 10:48] TomFyuri commented on #28
Latest debian sid with plasma-systray-legacy and latest archlinux with xembed-sni-proxy both result in no icons (well, empty space for each application, that is clickable, but without tooltip it's not possible to know which is what) whatsoever:

[code]

[2016-01-21 09:17] tony-caotong opened #29 "segment fault When click on a empty area in tray"
Version info:
[tong@T7 Pictures]$ pacman -Qo /usr/bin/xembedsniproxy
/usr/bin/xembedsniproxy is owned by plasma-workspace 5.5.3-2

Like this snapshot http://img.vim-cn.com/3f/28c2d52e1f3144bc0550ceebd9bf7d7771fea4.png
There is only one icon(StarDict) in my tray managed by xembed-sni-proxy, but a empty icon appears beside my StarDict icon.  When StarDict was tapped, it works. When I tap the empty i

[2016-02-01 21:48] ntninja commented on #28
A user in http://permalink.gmane.org/gmane.comp.kde.devel.bugs/1657822 says this issue only happens on nVidia hardware for him. According to his (brief) analyzation of the problem the _transparent xembed icon_-message is actually correct in that the icon received by `xembed-sni-proxy` is actually empty…

I can confirm btw that this is happening on this nVidia laptop.

[2016-02-01 22:13] ntninja commented on #28
Nevermind, this issue has been fixed in master.
Please close this!

[2021-08-25 09:04] ghost opened #30 "Xembedsniproxy process consuming large amount of CPU."
I'm using Debian Sid and recently I have started to have system lockups and hangs when opening full screen applications. I've found the process xembedsniproxy to be consuming around 50-100% of my CPU and running `sudo fatrace -f W | grep .xsession-errors` showed it was  quickly filling the log  with  "Container window visible, stack below". If I sigterm the xembedsniproxy my system is stable but I